.modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-container {
  background: var(--background-card-color);
  width: 60rem;

  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 2;
}

#closeButton {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;

  cursor: pointer;
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  padding: 2rem 1rem;
}

.modal-data h2 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

.modal-data p {
  font-size: 1rem;
  margin-bottom: 1.5rem;
}

.modal-data label {
  display: inline-block;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
