.home-container {
  display: flex;
  flex-direction: column;

  padding: 0 2rem;
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 2rem;
}

.home-header h1 {
  font-size: 2.5rem;
}

.home-header a {
  text-decoration: none;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color);

  border: 0;
  font-size: 0.9rem;

  width: 11rem;
}

.home-container a span {
  color: var(--text-color);
}

.navers-container {
  display: grid;
  grid-template-columns: repeat(4, 19rem);
  /* media query para diminuir colunas*/
  align-content: center;
  justify-content: space-between;
}
