.home-container {
  display: flex;
  flex-direction: column;

  padding: 0 2rem;
}

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin-bottom: 2rem;
}

.home-header h1 {
  font-size: 2.5rem;
}

.home-header a {
  text-decoration: none;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--primary-color);

  border: 0;
  font-size: 0.9rem;

  width: 11rem;
}

.home-container a span {
  color: var(--text-color);
}

.navers-container {
  display: grid;
  grid-template-columns: repeat(4, 19rem);

  align-content: center;
  justify-content: space-between;
}

/* media query para diminuir colunas do grid */
@media (max-width: 1150px) {
  .navers-container {
    grid-template-columns: repeat(3, 19rem);
  }
}

/* com 2 colunas space-between fica muito distante em grandes dimensões */
@media (max-width: 820px) and (min-width: 700px) {
  .navers-container {
    grid-template-columns: repeat(2, 25rem);
    justify-content: center;
  }
}

@media (max-width: 700px) {
  .navers-container {
    grid-template-columns: repeat(2, 19rem);
  }
}

@media (max-width: 380px) {
  .navers-container {
    grid-template-columns: repeat(1, 19rem);
    justify-content: center;
  }
}
