:root {
  --primary-color: #212121;
  --title-color: #212121;
  --text-color: #fff;
  --background-card-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
p {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

h1,
h2,
h3,
span,
label,
button,
a {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
span,
p,
input {
  color: var(--primary-color);
}

button {
  cursor: pointer;
}

@media (max-width: 1200px) {
  html {
    font-size: 93.75%;
  }
}

@media (max-width: 992px) {
  html {
    font-size: 90.75%;
  }
}

@media (max-width: 878px) {
  html {
    font-size: 87.5%;
  }
}

@media (max-width: 600px) {
  html {
    font-size: 84.5%;
  }
}

@media (max-width: 550px) {
  html {
    font-size: 80%;
  }
}

@media (max-width: 500px) {
  html {
    font-size: 73%;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 68%;
  }
}

@media (max-width: 430px) {
  html {
    font-size: 60%;
  }
}
